.menu{
  border-bottom: 1px solid #000;
  padding-bottom: 30px;
  margin-bottom: 10px; /* creates 10 pixels of space between menu items */
  color: white;
}
.menu {
  display: flex;
  justify-content: center; /* center the items horizontally */
  color: white;
}

.menu ul {
  list-style-type: none; /* remove the default bullet points */
  margin: 0;
  padding: 0;
  color: white;
}

.menu li {
  display: inline-block;
  margin: 0 10px; /* add some spacing between the items */
  color: white;
}
.contact {
  text-align: center;
}
.banner{
  font-size: 30px;
  padding: 20px;
  text-align: center;
  color: white;
}
.social-links {
    display: flex;
    justify-content: center;
    list-style: none;
    padding: 30px;
    color: white;
  }

social-links li {
    margin: 0 10px;
    color: white;
  }

.social-links li:first-child {
    margin-left: 0;
  }

.social-links li:last-child {
    margin-right: 0;
  }
.social-links a {
    text-decoration: none;
  }

.banner-text {
  text-align: center;
}
.banner-close {
  padding: 10px;
  margin-bottom: 20px;
  font-size: 20px;
  text-decoration: none;
  top: 10px;
  right: 10px;
  color: white;
}
}

.banner-close-text {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.banner-close-close {
  font-weight: bold;
  color: #333;
  text-decoration: none;
}
.profile{
  text-align: center;
}

.column-profile {
  width: 40%;
  float: left;

}

}
.row about-content{
  float: right;
}
.column-skills{
  width: 40%;
  float: left;

}
.row section-intro{
  text-align: center;
}
.whatsapp {
  text-align: right;
}
